.dash_page.attendance {
    padding: 0 6rem 1rem 6rem;

    & h2 {
        font-size: 1.4rem;
    }
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(88,88,88,0.2); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(88,88,88,0.5); 
}