.dash_page.staffManagement {
    padding: 3.4rem 6rem 1rem 6rem;

    & .header {
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 1.7rem;
        
        & button {
            transform: translate(0, -0.5rem);
        }
    }

    & h2 {
        font-size: 1.4rem;
    }

}


.dash_page.staffManagement .staffListContainer {
    ul li {
        &.selected {
            background-color: rgb(from var(--accent) r g b / 1);
            color: white;
            pointer-events: none;
        }
        & img.selected {
            border: 3px solid white;
        }
    }

    & .profileInformation {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
    }

    & .fullName {
        font-size: 1.15rem;
        font-weight: 700;
    }
    & .username {
        font-size: 0.85rem;
        font-weight: 600;
        opacity: 0.75;
    }
    & .qrLink {
        margin-left: auto;
        display: flex;
        gap: 0.5rem;
        font-size: 0.75rem;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        color: transparent ;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        /* background-color: rgb(from var(--blue) r g b / 0.08); */
        background-color: white;

        &.out {
            color: var(--orange);
            background-color: rgb(from var(--orange) r g b / 0.06);
        }
        &.pendingOut {
            color: var(--red);
            background-color: rgb(from var(--red) r g b / 0.06);
        }
        &.in {
            color: var(--gray);
            background-color: rgb(from var(--gray) r g b / 0.06);
        }
        &.done {
            color: var(--blue);
            background-color: rgb(from var(--blue) r g b / 0.06);
        }

        /* justify-self: flex-end; */
        &.out {
            color: var(--orange);
        }
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.overlay.visible {
    display: flex;
}   

.overlay .addUserModal {
    max-height: calc(100vh - 6rem);
    width: 32rem;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 3rem;
    box-shadow: 0 0 0 200rem rgba(0, 0, 0, 0.5);

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        & button {
            transform: translate(0, -0.5rem);
        }
    }
}

.allInputContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-height: calc(100vh - 24rem);
    overflow-y: auto;

}

.addUserModal form.addUsersForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    /* height: 20rem; */
    margin-top: 2rem;
    /* background-color: red; */
}

form.addUsersForm {
    & .userInputContainer {
        display: grid;
        grid-template-columns: 4px 1fr;

        & .bar {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .line {
            width: 100%;
            height: 98%;
            border-radius: 2px;
            background-color: var(--gray);
        }
    }
    & .userInputGroup {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 100%;
        padding-left: 0.8rem;

        & .error {
                font-size: 0.7rem;
                font-weight:500;
                color: var(--red);
            }
        & .upperInput {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            width: 100%;
            

            & button.removeField {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: var(--lightGray);
                color: var(--red);
                &:hover {
                    background-color: rgb(from var(--pink) r g b / 0.1);
                }
            }
        }
    }
    & input {
        width: 100%;
    }
    
}

.leaflet-container {
    height: 100%;
    width: 100%;
}


.tabHead.active {
    color: var(--accent) !important;
    /* text-shadow: 0 0 3rem white; */
    font-weight: 700 !important;
}
.tabHead {
    z-index: 9999;
    color: var(--textAlt);
    /* text-shadow: 0 0 3rem white; */
    cursor: pointer;
}

.tabHead:has( + .active) {
    color: rgba(255,255,255,0.8);
}

.historyMap {
    height: 100%;
    width: 100%;
    /* margin-top: 2rem; */
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    overflow: hidden;
    border-radius: 1rem;
    position: absolute;
}

.historyMap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15rem;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9)0%, rgba(0, 0, 0, 0.8) 16%, rgba(0, 0, 0, 0.7) 28%, rgba(0, 0, 0, 0) 100%);
    z-index: 999;
    pointer-events: none;
    /* backdrop-filter: blur(12px); */
}


.historyMap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0) 100%);
    z-index: 9990;
    pointer-events: none;
}

.attendanceList {
    height: calc(80% - 2.5rem);
    width: calc(100% - 8rem);
    margin-top: 1.5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    overflow: auto;
    border-radius: 1rem;
    /* background-color: red; */
}









    ::-webkit-scrollbar {
    width: 5px;
    }

    ::-webkit-scrollbar-track {
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: rgba(88,88,88,0.2); 
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(88,88,88,0.5); 
    }




    .selectedUserContainer .userDetails {
        height: 100%;
        width: 100%;
        /* background-color: red; */

        & .selectedHeader {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;
        }

        & li {
            background-color: transparent;
            padding-block: 1.2rem;
            padding-right: 1rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            & img.profileImage {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                object-fit: cover;
                margin-top: 0;
            }
        }

        & .profileInformation {
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
        }

        & .fullName {
            font-size: 1.15rem;
            font-weight: 700 !important;
            color: var(--text) !important;
        }
        & .username {
            font-size: 0.85rem;
            font-weight: 600;
            opacity: 0.75;
        }
    }


    .attendanceItem {

    & li.profileAttendance {
        background-color: transparent;
        padding-block: 1.2rem;
        padding-right: 1rem;
        /* border-radius: 1.5rem; */
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
        /* border: 1px solid rgba(0, 0, 0, 0.07); */
        border-top: 1px solid rgb(from #484848 r g b / 0.06);
        cursor: pointer;


        & img.profileAttendance {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            object-fit: cover;
        }
        & .sign_ {
            font-size: 1.15rem;
            font-weight: 700 ;
            color: var(--text);
        }
        & .time_ {
            font-size: 0.80rem;
            font-weight: 600;
            opacity: 0.75;
        }

    }
}

.selectedUserContainer {
    overflow: hidden;
    position: relative;
    
}

.tinyLoader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    /* background-color: red; */

    /* border: 1px solid rgb(from #484848 r g b / 0.1); */
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
    opacity: 0;
    pointer-events: none;
    transition: 300ms 200ms;
    & > svg {
        transition: 300ms;
        transform: scale(100%);
        opacity: 0;
    }
}

.tinyLoader.visible,
.tinyLoader.softReload {
    pointer-events: all;
    transition: 0ms;
    opacity: 1;
    & > svg {
        transition: 0ms;
        transform: scale(100%);
        opacity: 1;
    }
}

li.lock {
    pointer-events: none;
}

p.date {
    position: absolute;
    color: white;
    z-index: 9999;
    top: 1.4rem;
    font-size: 0.75rem !important;
    /* opacity: 0.75; */
    /* right: 4rem; */
}
.datePicker {
    position: absolute;
    color: white;
    z-index: 9999;
    right: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 1;
    & > svg {
        cursor: pointer;
    }
}

.tinyLoader.softReload {
    background-color: rgba(0, 0, 0, 0.5);
    & svg {
        color: white!important;
    }
}

.dateInput {
    z-index: 9999;
    height: 2rem;
    width: 10rem;
    position: absolute;
    right: 6rem;
    color: transparent;
    background-color: transparent;
    /* display: none; */
    visibility: hidden;
}