.page.login {
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
    display: flex;
    background-image: url('../assets/login-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}



.page.login .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;

    & h1 {
        font-size: 2rem;
        margin-top: 0.5rem;
    }
    & p {
        text-align: center;
        margin-block: 1rem 0.2rem;

        & span:nth-child(1) {
            font-size: 1.5rem;
        }

    }
    & p.desc {
        font-size: 1.1rem;
        font-weight: 600;
        margin-block: 0rem 2rem;
        color: var(--textAlt);
    }
}

.page.login form {
    display: flex;
    flex-direction: column;
    gap: 0.64rem;
    width: 28rem;
    background-color: white;
    border-radius: 1.8rem;
    box-shadow: 0 8px 20px rgb(from #090034 r g b / 0.15);
    padding: 2rem 2.4rem 3rem 2.4rem;
}

.inputContainer {
    padding-inline: 1.8rem;
    padding-block: 1.2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: var(--inputBackground);
    color: var(--text);
    font-weight: 500;
    font-size: 0.9rem;
    display: flex;
    gap: 0.7rem;
}

.inputContainer > input {
    padding: 0;
    border-radius: 0;
    width: 100%;
    font-weight: 600;
    color: rgb(from var(--textAlt) r g b / 0.9);
}

input {
    padding-inline: 1.8rem;
    padding-block: 1.2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: var(--inputBackground);
    color: var(--text);
    font-weight: 500;
    font-size: 0.9rem;
    
    &::placeholder {
        color: rgb(from var(--text) r g b / 0.48);
        font-weight: 500;
    }
}

.iconButton {
    cursor: pointer;
}

form.loginForm button {
    margin-top: 1rem;
    border-radius: 2rem;
    background-color: var(--accent);
    font-weight: 800;
    padding-block: 1rem;

    &:focus {
        outline: none;
    }
    
}
button.submit {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form > header {
    display: flex;
    flex-direction: column;
    color: var(--text);
    margin-bottom: 4rem;
}
header img.logo {
    width: 5rem;
    height: 5rem;
}

button {
    color-scheme: dark;
}